{% extends "layout.html" %}

{% block title %}Energy Management Data{% endblock %}

{% block content %}
<div class = "container">
        <h1>Energy Managemet Data</h1>
        <div class = "data = display">

        </div>
        <form action ="/upload" method ="post" enctype ="multipart/form-data">
            <input type ="file" name ="file" id ="file" required>
            <input type ="submit" value ="Upload Image" name ="submit">
        </form>    	
        <a href = "{{ url_for('index') }}">Back to Home</a>
</div>
{% endblock %}
